body {margin: 0; padding: 0;}
#app {width: 100vw; height: 100vh;}

.map-metadata{
    list-style: none;
    margin:0;
    padding:0.5rem;
    border: 1px solid black;
}
.map-metadata__item{
    display:block;
}
.map-metadata__item-title{
    font-weight: bold;
}
#legend{
    margin-top: 2rem;
}